.open-sans {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.table {
  border-radius: none !important;
}
.table tr:last-child {
  border-radius: 0 !important;
}
.table :where(:last-child) :where(:last-child) :where(th, td):first-child {
  border-radius: 0 !important;
}
.table :where(:last-child) :where(:last-child) :where(th, td):last-child {
  border-radius: 0 !important;
}
input{
  margin-left: -10px;
}
.data{
  padding-left: 15px !important;
}
input:focus{
  outline: 2px solid #bdbdbd;
  padding-left: 5px;
}
@media screen and (min-width: 0px) and (max-width: 1230px) {
  .c_id{
    background: #1E2553 !important;
    color: white !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 1170px) {
  .a_id{
    background: #1E2553 !important;
    color: white !important;
  }
}



/* https://github.com/BabluMia/Paymentsave-Front-End.git */
